---
layout: default
---
{% if site.post_type == 'highlight' %}

  {% for post in site.posts %}
  {% if post.highlight %}

  <div class='col s12 hide-on-small-and-down'>
    <div class='card horizontal'>
      <div class='card-image' {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}></div>
      <div class='card-stacked'>
        <div class='card-content'>
          <h3>{{ post.title }}</h3>
          {{ post.excerpt }}
        </div>
        <div class='card-action'>
          <a href='{{ post.url | prepend: site.baseurl }}' class='btn-flat waves-effect'>Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class='col s12 hide-on-med-and-up'>
    <div class='card'>
      <a href='{{ post.url | prepend: site.baseurl }}' class='card-image'>
        <img {% if post.image %} src='{{ post.image }}' {% endif %}>
      </a>
      <div class='card-stacked'>
        <div class='card-content'>
          <h3><a href='{{ post.url | prepend: site.baseurl }}' class='black-text'>{{ post.title }}</a></h3>
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class='col s12 m6'>
    <a href='{{ post.url | prepend: site.baseurl }}' class='card waves-effect'>
      <div class='card-image'>
        <img {% if post.image %} src='{{ post.image }}' {% endif %}>
      </div>
      <div class='card-stacked'>
        <div class='card-content'>
          <h3>{{ post.title }}</h3>
          {{ post.excerpt }}
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}

{% endif %}