  <header class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper container'>
        <a href='/' class='brand-logo'>{{ site.title }}</a>

        <ul id='nav-mobile' class='right hide-on-med-and-down'>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href='{{ page.url | prepend: site.baseurl }}' class='waves-effect'>{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <ul id='slide-out' class='sidenav'>
          <li>
            <div class='user-view'>
              <div class='background'>
                <img src='{{ site.google_plus_bg }}'>
              </div>
              <a href='{{ site.google_plus_com }}'><img class='circle white' src='{{ site.google_plus_image }}'></a>
              <a href='{{ site.google_plus_com }}'><span class='white-text name'>{{ site.title }}</span></a>
              <a href='mailto:{{ site.email }}'><span class='white-text email'>{{ site.email }}</span></a>
            </div>
          </li>
          <li><a href='/' class='waves-effect'>Home</a></li>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href='{{ page.url | prepend: site.baseurl }}' class='waves-effect'>{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <a href='#' data-target='slide-out' class='sidenav-trigger'><i class='material-icons'>menu</i></a>
      </div>
    </nav>
  </header>