  <header>
    <nav role='navigation'>
      <div class='nav-wrapper container'>
        <a id='logo-container' href='/' class='brand-logo center'>{{ site.title }}</a>
        <ul id='slide-out' class='side-nav'>
          <li>
            <div class='user-view'>
              <div class='background'>
                <img src='{{ site.google_plus_bg }}'>
              </div>
              <a href='{{ site.google_plus_com }}'><img class='circle' src='{{ site.google_plus_image }}'></a>
              <a href='{{ site.google_plus_com }}'><span class='white-text name'>{{ site.title }}</span></a>
              <a href='mailto:{{ site.email }}'><span class='white-text email'>{{ site.email }}</span></a>
            </div>
          </li>
          <li><a href='/' class='waves-effect'>Home</a></li>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href='{{ page.url | prepend: site.baseurl }}' class='waves-effect'>{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <a href='#' data-activates='slide-out' class='sidenav-button'><i class='material-icons'>menu</i></a>
      </div>
    </nav>
  </header>