/*
 * Header and sidenav
 */
body {
  background-color: rgb(230, 230, 230);
}
.sidenav-button {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}
.sidenav-button.btn-floating {
  position: fixed;
  top: 16px;
  left: 16px;
}
.brand-logo {
  margin-top: 16px;
}
.brand-logo.center {
  margin: 0;
}
@media only screen and (max-width: 425px) {
  .brand-logo {
    width: 100%;
    font-size: 1.5rem !important;
  }
}
.background img {
  width: 100%;
}
a[href='/tag.html'] {
  display: none !important;
}

.post-ribbon {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: $main-color;
  flex-shrink: 0;
}

/*
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
a.card {
  color: inherit;
}

/*
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/*
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    .cls-1, .cls-2, .cls-4 {
      fill: $grey-color;
    }
  }
}