//
// Styles for post
//
.card {
  margin-top: 20px;
}
@media only screen and (min-width: 993px) {
  .card {
    margin-top: 40px;
  }

  .brand-logo {
    mix-blend-mode: difference;
  }
}

h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.1rem;
}
p {
  margin-bottom: 1rem !important;
}

/*
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $main-color;
  padding-left: $spacing-unit / 2;
  font-family: 'Roboto Slab';
  white-space: nowrap;

  > :last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 425px) {
  blockquote {
    font-size: 3.5vw;
  }
}

/*
 * Table of contents
*/
#markdown-toc {
  margin-left: 0;
  border-left: solid 3px $accent-color;
  padding-left: 20px;
  list-style-type: none;
  color: $accent-color;

  li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }

  ul {
    margin-left: 0;
    line-height: 28px;
  }
}

.post-content ul, .post-content ul li {
  margin-left: 0.5rem;
  padding-left: 1rem;
  list-style-type: disc;
}

/*
 * FAB
 */
.btn-floating, .btn-floating:hover {
  background-color: $accent-color;
}
.btn-floating span {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Product Sans';
}
.btn-floating img {
  margin-top: 10px;
  width: 25px;
  line-height: 40px;
}