<!DOCTYPE html>
<html lang='en-US'>
  {% include head.html %}
  <body onLoad="M.toast({html: '<span>This is the new website under construction.</span><button class="btn-flat toast-action">Return to full site</button>'});">
    <!-- Start Layout -->
    {% include header.html %}
    <div class='post-ribbon'></div>

    <main class='row container'>
    {{ content }}
    </main>

    {% include footer.html %}
    <!-- /End Layout -->

    </script>

    <!-- Jquery -->
    <script rel='javascript' type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>

    <!-- Copy to clipboard -->
    <script rel='javascript' type='text/javascript' src="{{ '/js/clipboard.min.js' | prepend: site.baseurl }}"></script>

    <!-- iOS app installer -->
    <script rel='javascript' type='text/javascript' src="{{ '/js/framework7.js' | prepend: site.baseurl }}"></script>

    <!-- Materialize JS Library -->
    <script rel='javascript' type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
    <script rel='javascript' type='text/javascript' src="{{ '/js/init.js' | prepend: site.baseurl }}"></script>
    {% if site.pagination_type == 'ops' %}
    <script rel='javascript' type='text/javascript' src="{{ '/js/site.js' | prepend: site.baseurl }}"></script>
    {% endif %}
  </body>
</html>