---
layout: default
---
<div class='post-ribbon'></div>
<div class='card col s12'>
  <div class='card-content'>
    <h3>{{ page.title }}</h3>
    <div class='grey-text'>
    {{ page.date | date: '%b %-d, %Y' }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </div>
    <article class='post-content'>
      <p>{{ content }}</p>
    </article>
    {% if site.disqus %}
    <div>
      <h3>Comments</h3>
        {% include disqus.html %}
    </div>
    {% endif %}
  </div>
</div>